spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/tmsdb_dev
    username: tmsuser
    password: tmspass
    hikari:
      maximum-pool-size: 5
      minimum-idle: 1

  flyway:
    enabled: true
    locations: classpath:db/migration   # 与 prod 完全相同
    baseline-on-migrate: true

  sql:
    init:
      mode: never

server:
  port: 8080

logging:
  level:
    org.flywaydb: INFO
    org.springframework.security: DEBUG
