spring:
  application:
    name: task-management-service
  jpa:
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true

server:
  port: 8080

jwt:
  secret: "change-this-very-long-secret-please-make-it-longer-32bytes-minimum"
  ttl-minutes: 60
