spring:
  datasource:
    url: jdbc:h2:mem:notesdb;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1
    username: sa
    password:
  sql:
    init:
      mode: always     # <-- run schema.sql & data.sql
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org.springframework.jdbc.core: DEBUG
    org.springframework.security: DEBUG
